.about-container{
  display: flex;
  background-color: white;
  color: black;
  height: 70vh;
  border: 2px solid red;
}

.about_description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55%;
  border: 2px solid blue;
  
}
.about_title{
  margin-bottom: 30px;
  font-size: 28px;
}
.about_par{
  line-height: 1.5;
  font-size: 20px;
}

.about_img{
  width: 45%;
  display: flex;
  overflow: hidden;
  align-self: center;
  border: 2px solid green;
}